{{#contentFor "head"}}
    <title>Swagger Validator</title>
{{/contentFor}}

{{#if message}}
<h2 class="text-info">{{message}}</h2>
{{/if}}
<h2>Validate your swagger here</h2>
<form action="/swagger/validate" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="input-flavor" value="input" checked />
                Input Swagger directly
            </label>
        </div>
        <textarea id="swaggerInput" class="form-control" cols="96" rows="15" name="swagger-input"></textarea>

        <div class="radio">
            <label>
                <input type="radio" name="input-flavor" value="file" />
                Upload File
            </label>
        </div>
        <input id="swaggerFile" type="file" name="swagger-file" />
    </div>
    <input class="btn btn-default" type="submit" value="Submit" />
</form>

<script src="/public/js/index.js"></script>
